/** Progress bar styles **/
.container {
  width: 100% !important;
  margin: 10px auto 20px auto;
}

.progressbar {
  counter-reset: step;
}

.progressbar ul {
  text-align: center;
}

.progressbar li {
  list-style-type: none;
  width: 25%;
  display: inline-block;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #b8b8b8;
  z-index: 2;
}

.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #b0b0b0;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}

.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #b8b8b8;
  top: 15px;
  left: -44.5%;
  z-index: -1;
}

.progressbar li:first-child {
  margin-left: 0;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.partial {
  color: #c4c400;
  font-weight: bold;
  font-size: 16px;
}

.progressbar li.partial:before {
  border-color: #ffeeba;
}

.progressbar li.completed:before {
  content: '\2713' !important;
  background-color: #d4edda !important;
  border-color: #55b776;
}

.progressbar li.completed {
  font-size: 12px !important;
  color: green;
}

.progressbar li.completed + li:after {
  background-color: #55b776;
}

/** Override GitHub styles **/
.commit-form .input-block {
  width: 60% !important;
  display: inline-block !important;
}

.overall-summary {
  display: inline-block;
}

.py-4 {
  z-index: -1;
}

/** Icon tooltip styles **/
.helpIcon {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  z-index: 999;
}

.helpIcon .helpIconText {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 14px !important;
  /* Position the tooltip */
  position: absolute;
  z-index: 10;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.helpIcon:hover .helpIconText {
  visibility: visible;
}

.helpIcon:hover .removeText {
  visibility: hidden !important;
}

.helpIconText:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  top: 100.2%;
  margin-left: 50px;
}

.helpIconCircle {
  background: rgba(0, 0, 0, 0.3);
  padding: 5px 12px;
  border-radius: 50px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

/** Success Message Styles **/
.successRibbon {
  width: 100%;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  height: 50px;
}

/** Profile card styles **/
.front,
.back {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);

  font-family: BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 0.8s ease;
}
.back {
  transform: rotateY(180deg);
  width: 100%;
  height: fit-content;
  z-index: 997;
  display: block;
}

.card-container:hover .front {
  transform: rotateY(-180deg);
}

.back.hovered {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  background-color: #fff;
}

.hidden {
  visibility: hidden;
}

.card-container {
  perspective: 75rem;
}

.graph {
  width: 50% !important;
  height: 50% !important;
  padding: 20px;
}

.graph-tooltip {
  cursor: pointer;
}

.hiddenDisplay {
  display: none;
}
